@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto+Mono:wght@400;600&family=Sofia+Sans:wght@300;500&display=swap');
body{
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 300ms;

}
h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
}
.can{
    position: absolute;
    top: 10%;
    left: 8%;
    width: 600px;
    height: 600px;
    border-radius: 500px;
    background-color:rgba(255, 255, 255);
}
#canvas1 {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 600px;
    height: 600px;
    border-radius: 500px;
    
    filter: blur(30px);
}
#audio1 {
    width: 50%;
    margin: 50px auto;
    display: block;
}
#fileupload {
    position: absolute;
    top: 150px;
    color: white;
    z-index: 100;
}
.transcription{

    padding: 10px;
    width: 90%;

}

#transcriptionContainer{
    padding-top: 10px;

    max-height: 50vh;
    height: min-content;
    overflow-y: scroll;
}

.transcription h2{
    font-size: 36px;
    padding-bottom: 10px;
    
}

.questionContainer{
    height: max-content;
    margin-top: 8vh;
    padding: 10px;
    max-height: 30vh;
    width: 90%;
    overflow-y: hidden;
}
.questionContainer h2{
    font-size: 36px;
}

.containers{
    position: absolute;
    left: 50vw;
    width: 50%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 90vh;
}


.sentence{
    font-size: 20px;
    line-height: 30px;
}

#name{
    position: absolute;
    bottom: 20%;
    left :20%;
    font-size: 40px;
}

button{
    padding: 15px;
    font-size: 24px;
    background: #000;
    color: #fff;
    border: 0px solid white;
    margin: 5px 15px;
}
button:hover {
    background: #fff;
    color: #000;

}

.buttons{
    position: absolute;
    bottom: 20px;
    margin: 10px;
    left:45vw;
}

::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track */
}

/* Other non-webkit browsers */
